@using Domain.Constants
@using Domain.Helpers

@{
    Layout = null;

    var title = AppVersion.IsEnglishVersion ? "Add New Service" : "Thêm dịch vụ";
    var required = AppVersion.IsEnglishVersion ? "This field is required." : "Trường này là bắt buộc.";
    var save = AppVersion.IsEnglishVersion ? "Save" : "Thêm";
    var serviceName = AppVersion.IsEnglishVersion ? "Service Name" : "Tên dịch vụ";
    var price = AppVersion.IsEnglishVersion ? "Price" : "Giá dịch vụ";
    var existed = AppVersion.IsEnglishVersion ? "Service Name has existed" : "Tên dịch vụ đã tồn tại.";
}
<input type="hidden" id="existedText" value="@existed"/>

<div class="modal-header">
    <h4 class="modal-title">@title</h4>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>

<div class="modal-body">
    <form id="frmSubmit" class="contact-form">
        <div class="form-group required">
            <input class="input form-control" type="text" name="ServiceName" placeholder="@serviceName">
            <span class="text-danger" style="display: none;">@required</span>
            <span class="text-danger" id="Existed" style="display: none;"></span>
        </div>
        <div class="form-group required">
            <input class="input form-control format-money-input" type="text" name="Price" placeholder="@price">
            <span class="text-danger" style="display: none;">@required</span>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary text-center" id="btn-submit-add-new">@save</button>
</div>

<script src="~/js/application/admin/service/add-new.js"></script>